.about {
   padding-bottom: 2rem;

   // BIO
   &__bio-image {
      width: 100%;
      height: 30vh;
      background: linear-gradient(
         to right,
         rgba($primary-color, 0.9),
         rgba($primary-color, 0.4)
      ),
      url(https://source.unsplash.com/random) center;
      background-size: cover;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      
   }

   &__bio {
      width: 80%;
      text-align: center;

      .text-secondary {
         padding-bottom: 1rem;
      }

      p {
         margin-block-end: 2rem;
      }

   }
   

   // JOBS

   .jobs {
      width: 60vw;
      margin: 2rem auto 0 auto;

      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      &__job {
         background: lighten($primary-color, 10%);
         padding: .5rem;
         border-bottom: 5px solid $secondary-color;

         h2, h3 {
            margin: .5rem 0;
         }

         h6 {
            margin-bottom: .3rem;
         }
      }
   }

   .social-icons {
      display: flex;
      flex-direction: column;
   }

   footer {
      position: fixed;
      transform: 
      rotate(90deg)
      translate(-10px, -10px);
   }
}